<div>
    <div class="headline">
        <h3>Chocolate Menu</h3><br>
        <input type="text" ng-model="info" placeholder="Search....">
    </div>
    <div class="product" ng-repeat="choco in chocolate|filter:info">
            
               <img src="{{choco.Img}}" class="product-thumb"> 
               <a href="" class="buy">Add to cart</a><br>                
        
            {{choco.Name}}<br>
            {{choco.Avalable}}<br>
            {{choco.Price}}<br>
            
    </div>
    
    
</div>    

</body>
