<div>
    <div class="headline">
        <h3>Vegetable Juice Menu</h3><br>
        <input type="text" ng-model="info" placeholder="Search....">
    </div>
    <div class="product" ng-repeat="a in menu.vegetable|filter:info">
            
               <img src="{{a.Img}}" class="product-thumb"> 
               <a href="" class="buy" ng-click="addCart($index)">Add to cart</a>  <br>              
        
               {{a.Name}}<br>
               {{a.Avalable}}<br>
               {{a.Price}}<br>
            
    </div>
    
</div>    

</body>
