<div>
    <div class="headline">
        <h3>Vegetable Juice Menu</h3><br>
        <input type="text" ng-model="info" placeholder="Search....">
    </div>
    <div class="product" ng-repeat="b in vegetable|filter:info">
            
               <img src="{{b.Img}}" class="product-thumb"> 
               <a href="" class="buy">Add to cart</a>                
        
            <p class="product-name">{{b.Name}}</p>
            <p class="product-status">{{b.Avalable}}</p>
            <p class="product-price">{{b.Price}}</p>
            
    </div>
    
    
</div>    

</body>
